<h1 *ngIf="!error" class="text-center pt-5">Add new Card</h1>

<div *ngIf="error" class="alert alert-danger" role="alert">
  {{error}}. Try to login again!
</div>

<form *ngIf="!error" #createCard="ngForm" class="text-center" (ngSubmit)="onSubmit()">
  <div class="container mt-4 text-center">
    <div class="form-floating mt-4">
      <input type="text"
             class="form-control"
             name="owner"
             id="owner"
             placeholder=""
             [(ngModel)]="model.owner"
             #owner="ngModel"
             required
             pattern="[A-Z][a-z]+\s[A-Z][a-z]+"
             [ngClass]="{'is-invalid': (owner.touched || owner.dirty) && !owner.valid,
           'is-valid': (owner.touched || owner.dirty) &&  owner.valid }"
      >
      <span class="invalid-feedback">
        <span *ngIf="owner.hasError('required')">Name of the owner is required</span>
        <span *ngIf="owner.hasError('pattern')">Please enter the space between first and last name</span>
    </span>
      <label for="owner" class="required">Owner</label>
    </div>
    <div class="form-floating mt-4">
      <input type="text"
             class="form-control"
             name="number"
             id="number"
             placeholder=""
             [(ngModel)]="model.number"
             #number="ngModel"
             required
             minlength="16"
             maxlength="16"
             (keypress)="isNumberKey($event)"
             [ngClass]="{'is-invalid': (number.touched || number.dirty) && !number.valid,
           'is-valid': (number.touched || number.dirty) &&  number.valid }"
      >
      <span class="invalid-feedback">
      <span *ngIf="number.hasError('required')">Number of the credit card is required</span>
    </span>
      <label for="number" class="required">Number</label>
    </div>
    <div class="form-floating mt-4">
      <input type="text"
             class="form-control"
             name="cvv"
             id="cvv"
             placeholder=""
             [(ngModel)]="model.cvv"
             #cvv="ngModel"
             required
             minlength="3"
             maxlength="3"
             (keypress)="isNumberKey($event)"
             [ngClass]="{'is-invalid': (cvv.touched || cvv.dirty) && !cvv.valid,
           'is-valid': (cvv.touched || cvv.dirty) &&  cvv.valid }"
      >
      <span class="invalid-feedback">
      <span *ngIf="cvv.hasError('required')">CVV is required</span>
    </span>
      <label for="cvv" class="required">CVV</label>
    </div>
    <div class="form-floating mt-4">
      <input type="text"
             class="form-control"
             name="expiration"
             id="expiration"
             placeholder=""
             [(ngModel)]="model.expiration"
             #expiration="ngModel"
             required
             minlength="5"
             maxlength="5"
             pattern="[0-1]{1}[0-2]{1}[\/]{1}[2-9]{2}"
             [ngClass]="{'is-invalid': (expiration.touched || expiration.dirty) && !expiration.valid,
           'is-valid': (expiration.touched || expiration.dirty) &&  expiration.valid }"
      >
      <span class="invalid-feedback">
        <span *ngIf="expiration.hasError('pattern')">Invalid Date</span>
        <span *ngIf="expiration.hasError('required')">Expiration Date is required</span>
    </span>
      <label for="expiration" class="required">Expiration Date (mm/yy)</label>
    </div>
  </div>
  <div class="container mt-4 text-center">
    <button type="submit" [disabled]="createCard.invalid" class="btn btn-primary w-50">Save</button>
  </div>
</form>
